<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" th:content="${keywords ?: commons.site_option('site_keywords')}"/>
    <meta name="description" th:content="${description ?:commons.site_option('site_description')}"/>
    <link rel="shortcut icon" th:href="@{/user/img/logo.png}"/>
    <link rel="apple-touch-icon" th:href="@{/user/img/apple-touch-icon.png}"/>
    <title><th:block th:text="${title ?: '首页'}+' - '+${commons.site_option('site_title','比特科技博客')}"></th:block></title>
    <link th:href="@{//cdn.bootcss.com/highlight.js/9.9.0/styles/xcode.min.css}" rel="stylesheet"/>
    <link th:href="@{/user/css/style.min.css}" rel="stylesheet"/>
    
    <!-- Third-Party CSS -->
    <link rel="stylesheet" href="http://favorites.ren/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" th:href="@{/jantent/assets/css/octicons/octicons.css}"> -->
    <link rel="stylesheet" href="http://favorites.ren/bower_components/hover/css/hover-min.css">
    <link rel="stylesheet" href="http://favorites.ren/bower_components/primer-markdown/dist/user-content.min.css">
    <link rel="stylesheet" href="http://favorites.ren/assets/css/syntax.css">
    <link rel="stylesheet" href="http://favorites.ren/assets/css/gitalk.css">
    
        

    <!-- My CSS -->
    <link rel="stylesheet" href="http://favorites.ren/assets/css/common.css">

    <!-- CSS set in page -->
    
    <link rel="stylesheet" href="http://favorites.ren/assets/css/blog-page.css">
    
    
    <!-- CSS set in layout -->
    

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    
    <script type="text/javascript" src="http://favorites.ren/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://favorites.ren/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/jantent/assets/js/lock.js}"></script>
    
    
    <script th:src="@{//cdn.bootcss.com/jquery/2.2.3/jquery.min.js}"></script>
    <script th:src="@{/jantent/assets/js/amazeui.min.js}"></script>
    <link rel="stylesheet" th:href="@{/jantent/assets/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/jantent/assets/css/app.css}"/>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        /*让每一个下拉按钮占据的宽度与居中*/
        .am-dropdown{
            width:25%;
            text-align:center;
        }
    </style>
</head>
<div th:replace="themes/jantent/section::section(title='发布在大数据文摘的部分个人作品',time=null,auth='作者: 牛婉杨')"></div>
<body>
<div class="main-content archive-page clearfix">
    <div class="am-u-sm-30">
            <ul>
                                    
                                    
                        <div   style="display:inline-block;font-size:30px;width:600px;color: #AD60EE">科技公司相关</div><br/><hr/>    
                        <li >
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/kpp31n3O0i1shrz8tZrfpA" >26亿美元，谷歌完成史上第三大收购案！数据分析公司Looker厉害在哪？</a>
                            </span>
                        </li>
                        <br/>
                        <br/>
                        
                        <li>
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/qwar_5zIn5FOZlrskQ2JsA" >亚马逊首家“无人超市”系统存在bug？！开业当天，记者中途换装成功骗过摄像头</a>
                            </span>
                        </li>
                        <br/>
                        <br/>
                                                
                                                
                        <li>
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/FgG9JjaSVpD-sfMlHgJPGw" >被病毒拦截的上海奇迹：Model 3推迟交付，特斯拉股价下跌17％ </a>
                            </span>
                        </li>
                        <br/>
                        <br/>
                        
                        
                        <li>
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/DhYomi9UM9kMMBPOsdE0XA" >Uber无人车车祸报告：5秒反应时间，它却默认人行道外都不是人</a>
                            </span>
                        </li>
                        <br/>
                        <br/>
                        
                        <li>
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/PmKoWyUgpv1PvbpMzRMfDg" >技术天才、无人驾驶元老承认窃取谷歌机密给Uber！面临2年监禁</a>
                            </span>
                        </li>
                        <br/>
                        <br/>

						<div   style="display:inline-block;font-size:30px;width:600px;color: #AD60EE">黑科技类</div><br/><hr/>  
                        <li>
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/p5XZ47mPyT0GZIzktC5G0Q">剑桥“奇葩说”讨论人工智能利弊！AI全程参与为自己辩论，还获胜了！</a>
                                <a href="https://36kr.com/p/5273434" >36氪转载</a>
                                <a href="https://tech.hexun.com/2019-12-08/199591294.html" >和讯转载</a>
                                <a href="http://www.lzxwjs.com/rgzn/27102.html" >黑科技转载</a></font>
                            </span>
                        </li>
                        <br/>
                        <br/>
                        
                       
                        <li>
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/4uSvCTW6rVTCd9csQlxIww" >满地乐高有救了！用乐高拼一台AI识别器：自动分拣所有乐高零件，2秒一个！</a>
                            </span>
                        </li>
                        <br/>
                        <br/>
                       
                        <li>
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/P_B6SapLsCAyNeusd4buDQ" >女子车祸后开始“改造”自己：左手芯片开门、右手可刷 NFC，这些“生物黑客”有多疯狂？   </a>
                            </span>
                        </li>
                        <br/>
                        <br/>
                                               

                        <li>
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/WzjoKwWnChA7ZQspo0Z8kA" >失独妈妈求助阿里：将逝去女儿做成AI，3个月后重现女儿声音 </a>
                            </span>
                        </li>
                        <br/>
                        <br/>

                        <li>
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/DJBOwmEgvOFMpvPU3GOMOQ" >呼吸机缺关键零件，意大利小哥用3D打印救命！面临起诉风险，网友：意版“药神”？</a>
                            </span>
                        </li>
                        <br/>
                        <br/>
                        
                        <li>
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/5bBE-AXWP6DUwchOgjw5jg" >在线解剖青蛙，亲历VR手术室​！牛津、北邮是如何上网课的？</a>
                            </span>
                        </li>
                        <br/>
                        <br/>                        
                                          
                                                     
						<div   style="display:inline-block;font-size:30px;width:600px;color: #AD60EE">其他</div><br/><hr/> 
						
                        <li>
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/vsnqmhEaMdm4awqGsUVvJQ" >还为售票员被抢走工作担心？斯坦福最新研究：分析师等高薪高学历职位受AI影响最大</a>
                            </span>
                        </li>
                        <br/>
                        <br/>
                        

                        
                        <li>
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/CMnQ2CJVIho5ZiZQlKnFLg" >科学家发布迄今为止最“高清”太阳照片：像流动的黄金</a>
                            </span>
                        </li>
                        <br/>

                        <li>
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/RrGjzsOkoW77lVIO2qZdMQ" >NASA揭示迄今为止太阳系中最遥远天体，形似“雪人”的密接双星体</a>
                            </span>
                        </li>
                        <br/>
                        <br/>



                        <li>
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/FKKzarRGFTPRjtbLwzp1Wg" >菲尔兹奖得主陶哲轩开网课了！3月底线上开放</a>
                            </span>
                        </li>
                        <br/>


                        <li>
                            <span class="am-u-sm-20 am-u-md-16" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="https://mp.weixin.qq.com/s/ehTiAV2lC9lMy6rNdpPoOQ" >继钉钉之后，谷歌课堂也被小学生“一星攻陷”？？？</a>
                            </span>
                        </li>
                        <br/>
                        <br/>
            </ul>
    </div>
</div>
</div>
</body>
</html>