<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/jantent/header::header(${article.title},null)"></div>
<div th:replace="themes/jantent/section::section(${article.title},${article.created},'作者：空白')"></div>
<body>
<article class="main-content post-page">
    <div id="post-content"  class="post-content" th:utext="${commons.article(article.content)}"></div>
</article>
<div th:replace="themes/jantent/comments::comments"></div>
<div th:replace="themes/jantent/footer::footer"></div>
</body>
</html>